<%= render "shared/second-header"%>
<div class="shift-hopename">
  <%= button_to "シフト希望入力", new_hope_path, method: :get, class:"hope-new"%>
</div>
<%= render "shared/siftcalendar"%>
<%= render "shared/second-footer"%>