 <%= render "shared/second-header"%>
<div class='main'>
  <div class="shift-hopename">
    <%= button_to "シフト希望入力", new_hope_path, method: :get, class:"hope-new"%>
  </div>
  <div id="hope-calendar">
    <%= render "shared/siftcalendar", hopes: @hopes %>
  </div>
</div>
<div class="square-top-hope">
  <div class="square1"><div class="squ1-1">w</div></div>
  <div class="square2"><div class="squ2-1">a</div></div>
  <div class="square3"><div class="squ3-1">p</div></div>
  <div class="square4"><div class="squ4-1">s</div></div>
  <div class="square5"><div class="squ5-1">!</div></div>
</div>
<%= render "shared/second-footer"%>