<%= link_to 'イベント追加', new_hope_path %>

<%= month_calendar events: @hopes do |date, hopes| %>
  <%= date.day %>
    <% hopes.each do |hope| %>
    <div>
      <%= hope.title %>
    </div>
  <% end %>
<% end %>