 <%= render "shared/second-header"%>
<div class='main'>
  <div class="shift-hopename">
    <%= button_to "シフト希望入力", new_hope_path, method: :get, class:"hope-new"%>
  </div>
  <div id="hope-calendar">
    <%= render "shared/siftcalendar", hopes: @hopes %>
  </div>
</div>
<div class="hsquare-top-hope">
  <div class="hsquare1"><div class="hsqu1-1">w</div></div>
  <div class="hsquare2"><div class="hsqu2-1">a</div></div>
  <div class="hsquare3"><div class="hsqu3-1">p</div></div>
  <div class="hsquare4"><div class="hsqu4-1">s</div></div>
  <div class="hsquare5"><div class="hsqu5-1">!</div></div>
</div>
<%= render "shared/second-footer"%>