<%= render "shared/second-header"%>
<div class='main'>
  <div id="hope-calendar">
    <%= render "shared/siftcalendar", hopes: @hopes %>
  </div>
  <div class = shift-hopename> シフト希望入力 </div>
    <div id="hope-form-id">
      <%= render "shared/form", hopes: @hopes %>
    </div>
<div class='main'>
<%= render "shared/second-footer"%>