<%= render "shared/second-header"%>
<%= render "shared/siftcalendar"%>
<div class = shift-hopename> シフト希望入力 </div>
<div class = form-hope-main><%= render "shared/form"%></div>
<%= render "shared/second-footer"%>