.create-form-table-date {
  background-color: lightblue;
  display: flex;
  justify-content: center;
}

.create-form-username {
  font-size: 20px;
  padding: 20px 80px 0;
  margin-bottom: 20px;
}

.create_username {
  padding: 5px 61px;
}

.create-form-works-status {
  padding-bottom: 20px;
  font-size: 20px;
}

.work_status {
  padding: 5px 61px;
}

.create-form-content {
  padding-bottom: 20px;
  font-size: 20px;
}

.s-create-form-time {
  padding: 20px 0 20px ;
  font-size: 20px;
}

.e-create-form-time {
  font-size: 20px;
  padding-top: 3px;
}

.create-form-submit {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}