* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100%;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
  background-color: lightblue;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.waps-icon {
  width: 10vw;
  margin-right: 10vw;
}

.search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;

}

.hopes-list {
  text-decoration: none;
  margin-right: 3vw;
  color: whitesmoke;
}

.build-list {
  text-decoration: none;
  color: whitesmoke;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-name {
  text-decoration: none;
  margin-right: 3vw;
  color: whitesmoke;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: whitesmoke;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: whitesmoke;
}

.sign-up {
  text-decoration: none;
  color: whitesmoke;
}