* {
  box-sizing: border-box;
}

.second-header {
  width: 100%;
  min-width: 800px;
  height: 130px;
  display: flex;
  align-items: center;
  background-color: lightblue;
}

.second-logo {
  width: 10vw;
  margin-left: 80%;
}