<%= link_to 'シフト希望追加', new_request_path %>

<%= month_calendar requests: @requests do |date, requests| %>
  <%= date.day %>
    <% requests.each do |request| %>
    <div>
      <%= request.title %>
    </div>
  <% end %>
<% end %>