// Place all the styles related to the hopes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.shift-hopename {
  font-size: 25px;
  text-align: center;
  background-color: lightblue;
  color: whitesmoke
}

.hope-new {
  font-size: 25px;
}