// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-page-heading {
  margin-left: 20px;
  font-size: 20px;
  font-weight: bolder;
  color: whitesmoke
}

.user-table {
  margin-left: 20px;
  border: 1px solid rgb(221, 221, 221);
  background-color: white;
  
}

.table__col1 {
  border: 1px solid rgb(221, 221, 221);
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}

.table__col2 {
  padding-right: 40px;
  padding-left: 40px;
  border: 1px solid rgb(221, 221, 221);
  text-align: center;
}

.user-main {
  padding: 20px 0;
  background-color: lightblue;
}

.user-page-heading {
  text-align: center;
  margin-bottom: 20px;
}

.user-table {
  margin: 0 auto;
}

.user-edit-page-button a {
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  background-color: whitesmoke;
  color: black;
  padding: 10px;
}

.user-edit-page-button {
  margin: 40px 0 20px;
  text-align: center;
}

#g-button {
  margin-left: 30px;
}