.user-index-main {
  background-color: aliceblue;
}

.index-user-dates-title {
  padding-top: 20px;
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
}

.index-user-dates {
  width: 100%;
  height: calc(100vh - 250px);
  padding: 20px 80px;
}

.date-column-tables {
  display: flex;
  font-size: 20px;
  background-color: whitesmoke;
}

.users-date-tables {
  display: flex;
  word-wrap: break-word;
  font-size: 20px;
  background-color: whitesmoke;
}

.users-date-name-th {
  text-align: center;
  font-weight: bolder;
}

.users-date-email-th {
  text-align: center;
  font-weight: bolder;
}

.users-date-position-th {
  text-align: center;
  font-weight: bolder;
}

.users-date-account-tipe-th {
  text-align: center;
  font-weight: bolder;
}
