.mail-registration-link {
  max-width: 600px;
  min-width: 200px;
  border: 1px solid black;
  background-color: gainsboro;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.mail-registration-link a{
text-decoration: none;
}

.e-mail-icon-image {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.e-mail-icon-image img {
  width: 75px;
  height: 75px;
  margin-right: 50px;
}

.email-registration-titles {
  color: black;
  font-size: 30px;
}

.google-registration-link {
  max-width: 600px;
  min-width: 200px;
  border: 1px solid black;
  background-color: gainsboro;
  margin: 0 auto;
  margin-bottom: 100px;
}

.google-registration-link a{
  text-decoration: none;
}

.google-icon-image {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.google-registration-titles {
  color: black;
  font-size: 30px;
}